<div class="main users-edit">
  <a href="/" alt="シャドバオリカメーカー"><%= image_tag "/oricamaker/background/logo.png",:size => '300x200' %></a>
  <div class="container mt-5 aaa">
    <div>
      <div class="mb-4 text-right">
        <a class="submit_btn triple" href="/users/<%=@user.id%>">もう一度作る</a>
        <a target="_blank" class="submit_btn triple" href="https://uzukumaru.com/user_images/<%=@user.image%>">画像のみ表示</a>

      </div>
      <img src="<%="/user_images/#{@user.image}"%>" class="gazou mb-1">
      <div class="text-right">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" width="300" height="500" data-size="large" data-text="好きな画像を選択すると、オリジナルカードが生成されるよ！https://uzukumaru.com" data-hashtags="シャドバオリカメーカー" data-url="a" data-related="uzu_kumaru" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>      
      </div>
    </div>
  </div>
  <a href="/" alt="シャドバオリカメーカー" class="mt-4"><%= image_tag "/oricamaker/background/top2logo.png",:size => '201x134' %></a>
</div>